<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/admin_demo.css">
</head>
<body style="margin-top: 70px">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">添加{{ model_name }}</h3>
                </div>
                <div class="panel-body">
                    {% include "stark/form.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/js/edit_add.js"></script>
<script>
    $(function () {
        $("input").addClass("form-control");
        $("select").addClass("form-control");
    });
</script>
</body>
</html>